@{
    ViewData["Title"] = "Movie List";
}

<h2>Main Menu</h2>

<div class="row">
    <div class="col-sm-06"> 
        <p>If you want</p> 
    </div>
    <div class="col-sm-06">
        <a type="button" asp-area="" asp-controller="Cars" asp-action="Index">Lets Start</a>
    </div>
</div>



